In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("terras_indigenas_com_uf.csv", encoding="utf-8", sep=",")
dados.head()

,Nome,Jurisdição Legal,Área (ha),População,Situação atual,UF
0,Acapuri de Cima,Amazônia Legal,18393,500,NaN,AM
1,Acapuri do Meio,Amazônia Legal,-,-,NaN,AM
2,Acimã,Amazônia Legal,40686,89,NaN,AM
3,Aconã,Domínio Mata Atlântica,268,78,NaN,AL
4,Água Grande,Domínio Mata Atlântica,165,53,NaN,RS

In [3]:
# Dicionário que mapeia a sigla da UF para o nome do estado
mapa_estados = {
    'AC': 'Acre',
    'AL': 'Alagoas',
    'AP': 'Amapá',
    'AM': 'Amazonas',
    'BA': 'Bahia',
    'CE': 'Ceará',
    'DF': 'Distrito Federal',
    'ES': 'Espírito Santo',
    'GO': 'Goiás',
    'MA': 'Maranhão',
    'MT': 'Mato Grosso',
    'MS': 'Mato Grosso do Sul',
    'MG': 'Minas Gerais',
    'PA': 'Pará',
    'PB': 'Paraíba',
    'PR': 'Paraná',
    'PE': 'Pernambuco',
    'PI': 'Piauí',
    'RJ': 'Rio de Janeiro',
    'RN': 'Rio Grande do Norte',
    'RS': 'Rio Grande do Sul',
    'RO': 'Rondônia',
    'RR': 'Roraima',
    'SC': 'Santa Catarina',
    'SP': 'São Paulo',
    'SE': 'Sergipe',
    'TO': 'Tocantins'
}

In [4]:
# Adicionando coluna Estados
dados['Estados'] = dados['UF'].map(mapa_estados)

In [5]:
dados

,Nome,Jurisdição Legal,Área (ha),População,Situação atual,UF,Estados
0,Acapuri de Cima,Amazônia Legal,18393,500,NaN,AM,Amazonas
1,Acapuri do Meio,Amazônia Legal,-,-,NaN,AM,Amazonas
2,Acimã,Amazônia Legal,40686,89,NaN,AM,Amazonas
3,Aconã,Domínio Mata Atlântica,268,78,NaN,AL,Alagoas
4,Água Grande,Domínio Mata Atlântica,165,53,NaN,RS,Rio Grande do Sul
...,...,...,...,...,...,...,...
807,Yvy Katu,Domínio Mata Atlântica,9454,4030,NaN,MS,Mato Grosso do Sul
808,Yvyporã Laranjinha,Domínio Mata Atlântica,1238,184,NaN,PR,Paraná
809,Zo´é,Amazônia Legal,668565,330,NaN,PA,Pará
810,Zoró,Amazônia Legal,355789,711,NaN,MT,Mato Grosso
811,Zuruahã,Amazônia Legal,239070,156,NaN,AM,Amazonas

In [6]:
# Salvar arquivo csv
dados.to_csv("terras_indigenas_com_uf_estado.csv", index=False)